{% extends 'base.html' %}
{% block head_title %}{{ title }}{% endblock %}
{% block content %}
<div class="my-12 py-8 px-8 bg-white rounded-2xl shadow-xl max-w-screen-lg mx-auto">
    <h1 class="font-bold text-4xl text-center pb-6">Loan Report</h1>
    <hr />
    <div class="overflow-x-auto">
        <table class="table-auto w-full rounded-xl mt-10 border dark:border-neutral-500">
            <thead class="bg-gradient-to-r from-indigo-600 to-purple-600 text-white text-left">
                <tr>
                    <th class="px-8 py-4">Loan ID</th>
                    <th class="px-8 py-4">Loan Amount</th>
                    <th class="px-8 py-4">Loan Approved</th>
                    <th class="px-8 py-4">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for loan in loans %}
                <tr class="border-b dark:border-neutral-500 hover:bg-gray-100 transition duration-200">
                    <td class="px-8 py-4 text-center">{{ loan.id }}</td>
                    <td class="px-8 py-4 text-center">
                        <span class="px-4 py-2 font-bold rounded-lg text-green-700 bg-green-100">
                            ${{ loan.amount }}
                        </span>
                    </td>
                    <td class="px-8 py-4 text-center">
                        {% if loan.loan_approve %}
                            <span class="text-green-600 font-semibold">Approved ✅</span>
                        {% else %}
                            <span class="text-red-600 font-semibold">Pending ⏳</span>
                        {% endif %}
                    </td>
                    <td class="px-8 py-4 text-center">
                        {% if loan.loan_approve %}
                        <a class="font-bold bg-red-900 text-white hover:text-red-900 hover:bg-white border border-red-900 px-6 py-3 rounded-lg transition duration-300" href="{% url 'loan_pay' loan.id %}">
                            Pay Now
                        </a>
                        {% else %}
                        <p class="font-bold text-red-700 bg-red-100 px-4 py-2 rounded-lg">Loan Pending</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}