{% extends 'base.html' %}
{% block head_title %}
    {{ title }}
{% endblock %}
{% block content %}

<div class="flex mt-12 justify-center">
    <div class="bg-white max-w-6xl w-full mx-auto rounded-lg shadow-xl p-12">
        {% if title == 'Request For Loan' %}
        <div class="text-center pb-6">
            <a class="font-bold text-blue-700 hover:underline text-lg" href="{% url 'loan_list' %}">
                View All Loan List
            </a>
        </div>
        {% endif %}

        <h1 class="font-bold text-4xl text-center pb-8">{{ title }}</h1>

        <form method="post" class="space-y-4">
            {% csrf_token %}

            <div class="flex flex-col items-center">
                <label class="block text-gray-700 text-lg font-bold mb-3" for="amount">
                    Loan Amount
                </label>
                <input class="shadow appearance-none border rounded w-full lg:w-3/4 xl:w-2/3 py-4 px-6 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-600" 
                    name="amount" id="amount" type="number" required placeholder="Enter Loan Amount">
            </div>

            {% if form.amount.errors %}
            {% for error in form.amount.errors %}
            <p class="text-red-600 text-lg italic text-center">{{ error }}</p>
            {% endfor %}
            {% endif %}

            <div class="flex justify-center">
                <button class="bg-blue-900 text-white font-bold px-10 py-4 rounded-lg hover:bg-white hover:text-blue-900 border border-blue-900 transition duration-300" type="submit">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}