{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Dummy Banking System" />
        <title>
            {% block head_title %}Banking System{% endblock %}
        </title>
        <script src="https://cdn.tailwindcss.com"></script>

        {% block head_extra %}{% endblock %}
    </head>
    <body class="bg-indigo-600 flex flex-col min-h-screen">
        {% include 'navbar.html' %}

        <div class="max-w-screen-lg mx-auto px-4 flex-grow" id="main">
            {% include 'messages.html' %}
            {% block content %}
            {% endblock %}
        </div>

        <footer class="bg-gray-900 text-white text-center py-4 sticky bottom-0 w-full">
            {% include 'footer.html' %}
        </footer>
    </body>
</html>